{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/prop-types": ["warn"],
    "react/jsx-filename-extension": ["off"],
    "react/jsx-closing-bracket-location": ["off"],
    "react/jsx-props-no-spreading": ["off"],
    "react/jsx-tag-spacing": "error",

    "max-len": ["warn", {"code": 100}],
    "no-return-assign": ["off"],
    "prefer-promise-reject-errors": ["off"],
    "jsx-quotes": ["error", "prefer-single"],
    "import/prefer-default-export": ["off"],

    "indent": "warn",
    "no-unused-vars": "warn",
    "no-param-reassign": "warn",
    "no-async-promise-executor": "warn"
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
